<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.order.OrderMapper">

    <select id="getAllOrders" resultMap="Order">
        select * from OrderList
    </select>
    <select id="getUserOrders" resultMap="Order">
        select * from OrderList where userId=#{userid}
    </select>
    <select id="getHotelOrders" resultMap="Order">
        select * from OrderList where hotelId=#{hotelId}
    </select>
    <select id="getUserHotelOrders" resultMap="Order">
        select * from OrderList where userId=#{userid} and hotelId=#{hotelid}
    </select>
    <insert id="addOrder" parameterType="com.example.hotel.po.Order" useGeneratedKeys="true" keyProperty="id">
        insert into OrderList(userId,hotelId,hotelName,checkInDate,checkOutDate,roomType,roomNum,peopleNum,haveChild,createDate,price,clientName,phoneNumber,orderState)
        values(#{userId},#{hotelId},#{hotelName},#{checkInDate},#{checkOutDate},#{roomType},#{roomNum},#{peopleNum},#{haveChild},#{createDate},#{price},#{clientName},#{phoneNumber},#{orderState})
    </insert>

    <!--评论-->
    <update id = "updateOrderComment">
        update OrderList set star = #{star} , comment = #{comment} where id=#{orderid}
    </update>


    <select id="getOrderById" resultMap="Order">
        select * from OrderList where id=#{orderid}
    </select>

   <!--撤销订单的数据库操作-->
    <update id = "annulOrder">
        update OrderList set orderState = '已撤销' where id=#{orderid}
    </update>

    <update id = "annualSubCredit">
        update User set User.credit = #{credit} where User.id in (select userId from OrderList where id=#{orderid})
    </update>

    <update id = "execOrder">
    update OrderList set orderState="已入住" where id=#{orderid}
    </update>


    <update id = "setOrderExcep">
    update OrderList set orderState="异常" where id=#{orderid}
    </update>

    <update id="checkOut">
        update OrderList set orderState = "已退房" where id=#{orderid}
    </update>

    <select id="getUserHotelOrderNum" resultType="int">
        select count(*) from OrderList where userId=#{userid} and hotelId=#{hotelid}
    </select>

    <select id="getCommentStar" resultType="int">
        select star from OrderList where hotelId=#{hotelid} and star!=0
    </select>

    <select id="getCommentNum" resultType="int">
        select count(star) from OrderList where hotelId=#{hotelid} and star!=0
    </select>

    <resultMap id="Order" type="com.example.hotel.po.Order">
    </resultMap>
</mapper>