<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.db.DbMapper">
    <update id="addUserLvColumn">
        ALTER TABLE user ADD lv int DEFAULT 0;
    </update>
    <update id="addUserTotalMoneyColumn">
        ALTER TABLE user ADD totalmoney decimal DEFAULT 0;
    </update>
    <update id="addOrderListStarColumn">
        ALTER TABLE orderlist ADD star int;
    </update>
    <update id="addOrderListCommentColumn">
        ALTER TABLE orderlist ADD comment VARCHAR(255);
    </update>
    <insert id="insertSuperUsers">
        INSERT INTO user VALUES (1,'market@qq.com','123456','老营销号','110',100,'MarketManager',0,0),(0,'manager@qq.com','123456','老管理员','110',100,'Manager',0,0);
    </insert>
    <update id="changeManagerId">
        UPDATE user set user.id = 0 where user.username='老管理员'
    </update>
    <select id="testLv" resultType="int">
        select lv from user where user.id = 0
    </select>
</mapper>